.link-style a{
    margin-left: 30px;
    text-decoration: none;
    font-family: cursive;
    color: lightcyan;
    /* display: flex;
    flex-direction: column; */
}
.link-style a:hover{
    color: brown;
}

.link-style{
    display: flex;
}